<!DOCTYPE html>
	<html>
	<head>
		{% block meta %}
		  <meta charset="utf-8"/>
		  <meta name="description" content="Test task 1"/>
		  <meta name="keywords" content="Rowen,free,work"/>
		  <meta name="author" content="Tarnopolskyi"/>
		  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		  <title>RoranFree</title>
		{% endblock %}
		{% block styles %}	<link rel="stylesheet" href="styles/main.css">{% endblock %}
	</head>
	<body>
		<div class="main-container">
			{% block header %}
			{% endblock %}
			{% block menu %}
			{% endblock %}
			{% block about %}
			{% endblock %}
			{% block services %}
			{% endblock %}
			{% block team %}
			{% endblock %}
			{% block portfolio %}
			{% endblock %}
			{% block contacts %}
			{% endblock %}
			{% block footer %}
			{% endblock %}
		</div>
		{% block scripts %}{% endblock %}
	</body>
</html> 