{% macro team_carousel_block(image, name, position) %}
	<div class="team_carousel_block">
		<div class="team_carousel_block__foto"><img src="img/staff/lorem.img"></img></div>
		<div class="team_carousel_block__tittle">
			<h2>{{ name }}<h2>
			<br>
			<h6>{{ position }}</h6>
		</div>
		
	</div>
{% endmacro %}

