
---
title: Home
---

{% extends "layout/footer.njk" %}
{% extends "layout/contacts.njk" %}
{% extends "layout/portfolio.njk" %}
{% extends "layout/team.njk" %}
{% extends "layout/services.njk" %}
{% extends "layout/about.njk" %}
{% extends "layout/menu.njk" %}
{% extends "layout/header.njk" %}
{% extends "layout/basic.njk" %}

		{% block meta %}
		{{ super() }} 
		{% endblock %}
		
		{% block styles %}
		{{ super() }} 
		{% endblock %}

		{% block header %}
		{{ super() }} 
		{% endblock %}
		
		{% block menu %}
		{{ super() }} 
		{% endblock %}
		
		{% block about %}
		{{ super() }} 
		{% endblock %}
		
		{% block services %}
		{{ super() }} 
		{% endblock %}
		
		{% block team %}
		{{ super() }} 
		{% endblock %}
		
		{% block portfolio %}
		{{ super() }} 
		{% endblock %}
		
		{% block contacts %}
		{{ super() }} 
		{% endblock %}
		
		{% block footer %}
		{{ super() }} 
		{% endblock %}
		
		{% block scripts %}
		{{ super() }} 
		{% endblock %}